.footer-heading{
    color: #face00 !important
}

.footer-description{
    text-align: left;
    font-size:0.86rem !important
}

.footer-link{
    font-size:0.9rem;
    padding: 0 0.75rem
}

.fast-links{
    width:70%;
    text-align: left;
    
}

.fast-links li{
    margin-bottom: 0.5rem;
}

@media (max-width:1200px){
    .footer-link{
        font-size:0.8rem;
        padding: 0 0.60rem
    }

    .fast-links{
        width:73%;
    }

}
@media (max-width:991px){
    .footer-logo-title{
        font-size:1.5rem !important
    }
    .footer-logo-subtitle{
        font-size:0.7rem !important;
    }
.fast-links{
    width:80%
}
   
   
    
    .logo-and-links-container{
        flex-direction: column !important;
        gap:1rem
    }
}
@media (max-width: 767.5px){
    .footer-description, .fast-links{
        text-align: center;
    }

    .fast-links{
        margin-right:auto ;
    }

    .footer-link{
        font-size: 0.65rem;
        padding: 0 0.45rem !important
    }

}

@media (min-width:506px){
    .footer-link:not(:last-child) {
        border-right: 1px solid white;
      }
      

}
@media (max-width:505px){
    .nav-links-container{
        flex-direction: column;

    }
    
    .nav-links-container a{
        margin-bottom: 0.5rem;
    }

}